*, *::before, *::after { box-sizing: border-box }

/* main css style codes */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:wght@400;900&display=swap');
/* 
body:
  font-family: 'Rubik', sans-serif;

headings:
  font-family: 'Rubik Mono One', sans-serif;

element names:
  font-family: 'Rubik', sans-serif;
  font-weight: 900; */

/* colours to use:
#053B84 - dark blue - (core font colour)
#B6320F - burnt orange - (core logo colour)
#6F9D26 - green - (core logo colour)
#367F8F - teal - (highlight colour)
#D60F6D - pink (highlight colour)
#EBAB0A  - yellow - (core logo colour)
*/

body {
  font-family: 'Rubik', sans-serif;
  background-color: rgb(250, 250, 255);
  line-height: 1.5rem;
  margin: 0.5;
}

h1, h2, h3, h4, h5, h6, th {
  margin-top: 0;
  color: #053B84;
}

h1 {
  margin-top: -2rem;
  margin-bottom: -2rem;
}

/* push the footer to the bottom of the screen */
#root {
  display: flex;
  flex-direction: column;
  /* full height minus twice the margin on body */
  min-height: calc(100vh - 2*0.5rem);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  font-size: smaller;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

footer > p {
  margin: 0;
}

.main-content {
  display: grid;
  grid-template-columns: auto 20rem;
  grid-auto-rows: auto;
  align-items: center;
}

.element {
  border: solid black;
  border-radius: 0.6rem;
  margin: 0.5rem;
  padding: 0.25rem;

  /* overflow-y: scroll; */
}

.element > h4,
.element > ul {
  margin: 0;
}

.highscores thead {
  font-family: 'Rubik Mono One';
}

/* Periodic table colours */
/* this block defines the colours/sizes of stuff in the periodic table */
:root {
  --periodic-table-cell-size: 3rem;
  --element-in-table-bg-light: black;
  --element-in-table-bg-hover: #EBAB0A;
  --element-in-table-bg-dark: black;
  --element-in-table-font-size: 1.5rem;
}

.ElementInTable > .symbol {
  color: white;
}

.state-solid {
  --element-in-table-bg-light: #B6320F;
  --element-in-table-bg-dark: #B6320F;
}
.type-metallic {
  --element-in-table-bg-light: #053B84;
  --element-in-table-bg-dark: #053B84;
}
.state-gas {
  --element-in-table-bg-light: #367F8F;
  --element-in-table-bg-dark: #367F8F;
}
.state-liquid {
  --element-in-table-bg-light: #D60F6D;
  --element-in-table-bg-dark: #D60F6D;
}
.state-state-unknown {
  --element-in-table-bg-light: #6F9D26;
  --element-in-table-bg-dark: #6F9D26;
}

.TableKey {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-bottom: 0.25rem;
}

.key-item {
  background-color: var(--element-in-table-bg-dark);
  color: white;
  height: var(--periodic-table-cell-size);
  width: var(--periodic-table-cell-size);
  border-radius: 0.6rem;
  border: 1px solid black;
}

.ElementInTable {
  border-radius: 0.6rem;
}

.ElementInTable > .atomic-number {
  text-decoration: none;
  padding-bottom: 0.2rem;
}

.SingleElement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.element-with-picture {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.element-properties, .element-description {
  background-color: white;
  border: 4px solid var(--element-in-table-bg-light);
  border-radius: 0.6rem;
  padding: 0.5rem;
  margin: 0.5rem;
  list-style: none;
  min-height: 16rem;
  min-width: 16rem;
  max-width: 20rem;
}

.element-properties > li {
  margin-bottom: 0.5rem;
}

.SingleElement h4 {
  color: black;
  margin-bottom: 0;
}

.SingleElement-picture {
  height: 16rem;
  width: fit-content;
  border-radius: 0.6rem;
}

.hover-properties {
  list-style: none;
  padding: 0;
}

.PeriodicTable {
  background: transparent;
  border: 1px solid black;
  border-radius: 0.6rem;
}

@media (hover: none) {
  .hoveronly {
    display: none;
  }
  header {
    display: flex;
    flex-direction: column;
    border-bottom:#D60F6D solid;
    margin-bottom: 2rem;
    align-items: center;
  }
  .main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}
}

button {
  background-color: white;
  color: black;
  border: 4px solid #EBAB0A;
  border-radius: 0.6rem;
  font-size: inherit;
  padding: 0.25rem;
}

.boxed-aside {
  border: 5px solid;
  border-color: #EBAB0A;
  padding: 0.5rem;
  border-radius: 0.6rem;
background-color: #ebab0a40;
align-items: center;
text-align: center;
}


.testtube{
  height: 20rem;
}

#quizContainer{
  display: grid;
  grid-template-columns: 20rem auto 20rem;
  grid-auto-rows: auto;
  align-items: start;
  width: 100%;
  padding: 2rem;
  align-content: center;
  justify-items: center;
  justify-content: space-between;
}
header {
  display: flex;
  border-bottom:#D60F6D solid;
  margin-bottom: 2rem;
  align-items: center;
  width:100%;
}

article{
  padding-left: 5rem;
  padding-right: 5rem;
}

main > article > a {
    font-family: 'Rubik Mono One', sans-serif;
    margin: 0.5rem;
    padding: 1rem;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
    border: 4px solid #EBAB0A; 
    border-radius: 0.6rem;
    background-color: #053B84;
}
main > article> a:hover {
  background-color:#EBAB0A;
}


main > button{
    font-family: 'Rubik Mono One', sans-serif;
    margin: 0.5rem;
    padding: 1rem;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
    border: 4px solid #EBAB0A; 
    border-radius: 0.6rem;
    background-color: #053B84;
}
main > button:hover {
  background-color:#EBAB0A;
}
.quiz-home{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  justify-content: flex-start;
}

#rules-page{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  justify-content: flex-start;
}
#rules-page button{
  font-family: 'Rubik Mono One', sans-serif;
  margin: 0.5rem;
  padding: 1rem;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  color: whitesmoke;
  border: 4px solid #EBAB0A; 
  border-radius: 0.6rem;
  background-color: #053B84;}

#rules-page > button:hover{
    background-color:#EBAB0A;
  }

#quizContainer button{
  margin: 0.5rem;
  padding: 1rem;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  color: whitesmoke;
  border: 4px solid #EBAB0A; 
  border-radius: 0.6rem;
  background-color: #053B84;}

  #quizContainer button:hover{
    background-color:#EBAB0A;
  }

#incorrect h3{
  color: #B6320F;
}

#correct h3{
  color:#6F9D26
}