.element {
  border: solid black;
  margin: 0.5rem;

  overflow-y: scroll;
}

.element > h4,
.element > ul {
  margin: 0;
}

#nav{
  display: flex;
  margin: 3rem;
  justify-content: space-evenly;
  list-style: none;
}
