/* main css style codes */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* 
body:
  font-family: 'Rubik', sans-serif;

headings:
  font-family: 'Rubik Mono One', sans-serif;

element names:
  font-family: 'Rubik', sans-serif;
  font-weight: 900; */

/* colours to use:
#053B84 - dark blue - (core font colour)
#B6320F - burnt orange - (core logo colour)
#6F9D26 - green - (core logo colour)
#367F8F - teal - (highlight colour)
#D60F6D - pink (highlight colour)
#EBAB0A  - yellow - (core logo colour)
*/

.element {
  border: solid black;
  margin: 0.5rem;

  overflow-y: scroll;
}

.element > h4,
.element > ul {
  margin: 0;
}

#nav{
  display: flex;
  margin: 3rem;
  justify-content: space-evenly;
  list-style: none;
}

.SingleElement-picture {
  width: 12rem;
}