#nav{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 10pt;
    display: flex;
    margin: 1rem;
    padding: 1rem;
    justify-content: center;
    gap: 20px;
    list-style: none;
    text-decoration: none;
  }
  
.active {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    width: 100px;
    height: 100px;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid #EBAB0A; 
    border-radius: 0.6rem;
    background-color: #053B84;
    transition: 400ms ease;
    transform: scale(1.1);
}

.inactive {
    text-align: center;
    color: #053B84;
    text-decoration: none;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
    transition: 400ms ease;
}